* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --body-image: linear-gradient( to bottom, #009688 0%, #009688 15%, #d2dbdc 15%, #d2dbdc 100%);
    --border-color: #d6d6d6;
    --color-icon: #b1b1b1;
    --backCol-cont-user: #eaeaea;
    --Col-notifiche: #8edafc;
    --backColChiaro: #fff;
    --backHoverUser: #f5f5f5;
    --spancolor: #bbb9c0;
    --testoScuro: #818181;
    --inputNewMessage: #f3eeea;
    --text-color: #000;
    --back-img: url(../img/mine.jpg);
}

#app-whats {
    display: flex;
    height: 100vh;
    background-image: var(--body-image);
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

.dark {
    --body-image: linear-gradient( to bottom, #474747 0%, #141414 100%);
    --border-color: #525252;
    --backCol-cont-user: #2c3036;
    --backColChiaro: #1d222b;
    --backHoverUser: #262a33;
    --inputNewMessage: #5f5c5a;
    --text-color: #fff;
    --back-img: url(../img/mine-dark.jpg);
}

/* STUTTURA  *//* STUTTURA  *//* STUTTURA  *//* STUTTURA  */
.container {
    display: flex;
    width: 80%;
    height: 95vh;
    margin: 2.5vh auto;
    min-width: 900px;
    color: var(--text-color);
}

aside {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    border-right: 1px solid var(--border-color);
}

main {
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
}
/* FINE STUTTURA  *//* FINE STUTTURA  *//* FINE STUTTURA  */

/* GENERALI  *//* GENERALI  *//* GENERALI  *//* GENERALI  */
i {
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    color: var(--color-icon);
    font-size: 1.2rem;
}

input {
    outline: none;
}
/* GENERALI  *//* GENERALI  *//* GENERALI  *//* GENERALI  */

/* ASIDE TOP  *//* ASIDE TOP  *//* ASIDE TOP  *//* ASIDE TOP  */
.aside-top {
    background-color: var(--backCol-cont-user);
}

.aside-top .row-my-user {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.row-my-user .my-user {
    display: flex;
    align-items: center;
}

.my-user span {
    margin-left: .5rem;
    font-weight: bold;
    font-size: 1rem;
}

.my-user img {
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 50%;
}

.aside-top .row-notifiche {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: var(--Col-notifiche);
    font-size: 1.2rem;
}

.fa-bell-slash {
    width: 40px;
    height: 40px;
    background-color: #fff;
    padding: 9px;
    margin-left: .8rem;
    border-radius: 50%;
    color: var(--Col-notifiche);
}

.content-notifiche {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-notifiche span {
    margin-left: .5rem;
    font-size: 13px;
    color: #000;
}

.content-notifiche span:first-child {
    font-weight: bold;
}

.content-notifiche span:last-child {
    cursor: pointer;
    text-decoration: underline;
}

.content-input {
    display: flex;
    align-items: center;
    height: 45px;
    background-color: var(--backCol-cont-user);
    padding: 5px;
}

.icon-search {
    position: relative;
    width: 20%;
    height: 100%; 
    background-color: var(--backColChiaro);
    border: 1px solid var(--border-color);
    color: var(--color-icon);
}

.icon-search .fa-search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
}

#search {
    width: 80%;  
    height: 100%; 
    border-left: 0;
    padding: 0 10px;
    background-color: var(--backColChiaro);
    color: var(--text-color);
    border: 1px solid var(--border-color); 
}
/* FINE ASIDE TOP  *//* FINE ASIDE TOP  *//* FINE ASIDE TOP  */

/*  ASIDE BOTTOM  *//*  ASIDE BOTTOM  *//*  ASIDE BOTTOM  */
.aside-bottom {
    height: 100%;
    background-color: var(--backColChiaro);
    overflow-y: scroll;
    scrollbar-color: var(--color-icon) var(--backHoverUser);
}

.aside-bottom::-webkit-scrollbar {
    background-color: var(--backHoverUser);
    width: 15px;
    border-radius: 10px;
    overflow: hidden;
}

.aside-bottom::-webkit-scrollbar-thumb {
    background: var(--color-icon);
    border-radius: 10px;  
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.aside-bottom .content-user {
    display: flex;
    position: relative;
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid var(--border-color);
}

.aside-bottom .content-user:hover {
    background-color: var(--backHoverUser);
}

.user--active {
    background-color: var(--backCol-cont-user);
}

.aside-bottom .user-pic img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
}

.aside-bottom .info-message {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1 1 auto;
}

.info-message span:first-child {
    font-weight: bold;
    font-size: 1rem;
}

.info-message span:last-child {
    color: var(--spancolor);
    margin-top: 3px;
}

.aside-bottom .hour {
    display: flex; 
    justify-content: end;
    padding: 5px;
    color: var(--spancolor);
    font-size: 11px;
}
.aside-bottom .hour span {
    position: absolute;
    top: 8px;
    right: 15px;
}
/*  FINE ASIDE BOTTOM  *//*  FINE ASIDE BOTTOM  *//*  FINE ASIDE BOTTOM  */

/* MAIN  *//* MAIN  *//* MAIN  *//* MAIN  *//* MAIN  *//* MAIN  */
/* MAIN TOP *//* MAIN TOP *//* MAIN TOP */
main .info-message span:last-child {
    color: var(--testoScuro);
}

main .content-user {
    display: flex;
    height: 60px;
    background-color: var(--backCol-cont-user);
}

main .user-pic img{
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
}
/* FINE MAIN TOP *//* FINE MAIN TOP *//* FINE MAIN TOP */

/* MAIN CENTER *//* MAIN CENTER *//* MAIN CENTER */
main .info-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
}

main .content-conversation {
    flex: 1 1 auto;
    padding: 2rem 2rem 0;
    background-image: var(--back-img);
    overflow-y: scroll;
    scrollbar-color: var(--color-icon) var(--backHoverUser);
}

main .content-conversation::-webkit-scrollbar {
    background-color: var(--backHoverUser);
    width: 15px;
    border-radius: 10px;
    overflow: hidden;
}

main .content-conversation::-webkit-scrollbar-thumb {
    background: var(--color-icon);
    border-radius: 10px;  
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.content-conversation .cont-message {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 190px;
    max-width: 340px;
    padding: 10px 0 0 13px;
    border-radius: 7px;
    margin-bottom: .8rem;
}

.arrow {
    position: absolute;
    top: 0;
    right: 10px;
    width: 8px;
    height: 100%;
    font-size: 1.1rem;
    opacity: 0;
    color: var(--testoScuro);
}

.cont-message:hover .arrow {
    opacity: 1;
}

.ele-list {
    position: absolute;
    top: 100%;
    right: -10px;
    width: 150px;
    padding: 10px 0;
    background-color: var(--backColChiaro);
    border: 1px solid var(--border-color);
    box-shadow: 0 0 15px 5px #77777770;
    z-index: 999;
    text-align: center;
    font-size: 12px;
}

.ele-list .list {
    line-height: 30px;
    cursor: pointer;
}

.ele-list .list:hover {
    background-color: var(--border-color);
}

.sent {
    background-color: #d5f9ba;
    float: right;
}

.received {
    background-color: #fff;
    float: left;
}

.row-message::after {
    content: '';
    display: table;
    clear: both;
}

.cont-message .hour {
    display: flex; 
    margin-left: auto;
    padding: 0 5px 3px 0;
    color: var(--spancolor);
    font-size: 10px;
}

.cont-message p {
    padding-right: 25px;
    color: #000;
}
/* FINE MAIN CENTER *//* FINE MAIN CENTER *//* FINE MAIN CENTER */

/* MAIN BOTTOM  *//* MAIN BOTTOM  *//* MAIN BOTTOM  */
main .content-input-conv {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 5px 25px;
    background-color: var(--inputNewMessage);
}

.content-input-conv i {
    font-size: 1.2rem;
    color: var(--color-icon);
}

.content-input-conv input {
    flex: 1 1 auto;
    margin: 0 25px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    line-height: 28px;
    font-size: 10px;
    background-color: var(--backColChiaro);
    color: var(--text-color);
}
/* FINE MAIN BOTTOM  *//* FINE MAIN BOTTOM  */
/* FINE MAIN  *//* FINE MAIN  *//* FINE MAIN  *//* FINE MAIN  */

.cont-active-dark {
    display: flex;
    align-items: center;
    margin: auto;
    width: 120px;
    height: 25px;
}

.cont-active-dark i {
    color: var(--color-icon);
}

.active-dark {
    position: relative;
    width: 50px;
    margin: 0 4px;
    height: 22px;
    background-color: var(--backColChiaro);
    border-radius: 17px;
    cursor: pointer;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    margin: 3px;
    border-radius: 50%;
    background-color: var(--color-icon);
    transition: left .5s;
}

.circle--active {
    left: calc(100% - 22px);
}
