<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icon.gif" type="image/x-icon">
    <title>Boolzapp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app-whats" :class="{'dark': dark}">
        <div class="container">
            <!-- INIZIO LATO SINISTRO -->

            <aside>
                <!-- ASIDE TOP  -->
                <div class="aside-top">
                    <!-- IL MIO USER  -->
                    <div class="row-my-user">
                        <div class="my-user">
                            <img :src="'img/avatar' + user.avatar + '.jpg'" alt="">
                            <span>{{ user.name }}</span>
                        </div>
                        <div class="icons">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- FINE IL MIO USER  -->
                    <!-- ATTIVA NOTIFICHE  -->
                    <div class="row-notifiche">
                        <i class="fas fa-bell-slash"></i>
                        <div class="content-notifiche">
                            <span>Ricevi notifiche di nuovi messaggi</span>
                            <span>Attiva notifiche desktop</span>
                        </div>
                    </div>
                    <!-- FINE ATTIVA NOTIFICHE  -->
                    <!-- INPUT SEARCH  -->
                    <div class="content-input">
                        <div class="icon-search">
                            <label for="search"><i class="fa fa-search"></i></label>
                        </div>
                        <input @keyup="search" v-model="cerca" placeholder="Cerca o inizia una nuova chat" type="text" name="search" id="search">
                    </div>
                    <!-- FINE INPUT SEARCH  -->
                </div>
                <!-- FINE ASIDE TOP  -->
                <!-- ASIDE BOTTOM  -->
                <div class="aside-bottom">

                    <!-- ITEMS PER V-FOR  -->
                    <div @click="changeProfile(index), goChat = 0" v-for="(utente, index) in contacts"  v-show="utente.visible" :class="index == counter ? 'user--active' : ''" class="content-user">
                        <div class="user-pic">
                            <img :src="'img/avatar' + utente.avatar + '.jpg'" :alt="'foto di' + utente.name">
                        </div>
                        <div class="info-message">
                            <span>{{ utente.name }}</span>
                            <span class="mess" v-if="utente.messages.length > 0">{{ utente.messages[utente.messages.length - 1].message }}</span>
                        </div>
                        <div class="hour">
                            <span v-if="utente.messages.length > 0">{{ utente.messages[utente.messages.length - 1].date }}</span>  
                        </div>
                    </div>
                    <!-- FINE ITEMS PER V-FOR  -->
                    
                </div>
                <!-- FINE ASIDE BOTTOM  -->
            </aside>
            <!-- FINE ASIDE -->

            <div v-if="goChat == null" class="goApp">
                <div class="content-user">
                    <div @click="dark = !dark" class="cont-active-dark">
                        <i class="fa-solid fa-sun"></i>
                        <div class="active-dark"><div :class="{'circle--active': dark}" class="circle"></div></div>
                        <i class="fa-solid fa-moon"></i>
                    </div>
                </div>
                <div class="content-empty"></div>
            </div>

            <main v-else>
                <!-- MAIN TOP USER  -->
                <div class="content-user">
                    <div class="user-pic">
                        <img :src="'img/avatar' + contacts[counter].avatar +'.jpg'" alt="">
                    </div>
                    <div class="info-message">
                        <span>{{ contacts[counter].name }}</span>
                        <span v-if="boolOnline">Online</span>  
                        <span v-else-if="attesaRisposta">Sta scrivendo...</span>  
                        <span v-else="boolOnline == false">Ultimo accesso oggi alle {{ contacts[counter].lastMessage }}</span>
                    </div>        
                    
                    <div @click="dark = !dark" class="cont-active-dark">
                        <i class="fa-solid fa-sun"></i>
                        <div class="active-dark"><div :class="{'circle--active': dark}" class="circle"></div></div>
                        <i class="fa-solid fa-moon"></i>
                    </div>

                    <div class="icons">
                        <i class="fa fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i @click="menuDelete = !menuDelete" class="fas fa-ellipsis-v"></i>
                        <div v-show="menuDelete" @mouseover="menuDelete = true" @mouseout="menuDelete = false" class="ele-list">
                            <div @click="deleteChat(counter)" class="list">Elimina messaggi</div>
                            <div @click="deleteUser(counter)" class="list">Elimina Chat</div>
                        </div>
                    </div>
                </div>
                <!-- FINE MAIN TOP USER  -->

                <!-- INIZIO CONVERSAZIONE -->
                
                <div class="content-conversation">
                    <!--  MESSAGGIO  -->
                    <div v-for="(message, index) in contacts[counter].messages"  v-if="contacts[counter].messages.length > 0" :key="message.idMessage" class="row-message">
                        <div :class="message.sent ? 'sent' : 'received'" class="cont-message">

                            <div @click="message.visibleDelete = !message.visibleDelete" class="arrow">
                                <i class="fas fa-angle-down"></i>
                                <div v-show="message.visibleDelete" @mouseover="message.visibleDelete = true" @mouseout="message.visibleDelete = false" class="ele-list">
                                    <div class="list">Info messaggi</div>
                                    <div @click="deleteMessage(counter, index)" class="list">Cancella messaggi</div>
                                </div>
                            </div>

                            <p :class="contacts[counter].messages[index].message == 'Messaggio eliminato' ? 'delete-mess' : ''">{{ message.message }}</p>
                            <div class="hour">{{ message.date }}</div>
                        </div>
                    </div>
                    <!-- FINE MESSAGGIO  -->
                    
                </div>
                <!-- FINE CONVERSAZIONE -->    

                <!-- INIZIO INPUT TEXT -->
                <div class="content-input-conv">
                    <i class="far fa-smile"></i>
                    <input @keyup.enter="sendNewMessage()" v-model.trim="contacts[counter].newMessage.message" placeholder="Scrivi un messaggio" type="text" name="new-message" id="new-message">
                    <i v-if="contacts[counter].newMessage.message == ''" class="fas fa-microphone"></i>
                    <i @click="sendNewMessage()" v-else class="fa-solid fa-location-arrow"></i>
                </div>
            
                <!-- FINE INPUT TEXT -->

            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.1/build/global/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>
</html>